$button-color: #E0E0E0;
$plain-black: #000000;
$plain-white: #FFFFFF;
$blue-grey: #555566;
$background-color: #FFFFFF;
$pale-purple: #D8BFD8;
$salmon: #FA8072;


@function tint($color, $percentage) {
  @return mix($plain-white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($plain-black, $color, $percentage);
}

body{
  background-color: $background-color;
}

// header {
//   background-color: $plain-black;
// }

h1 {
  color: $salmon;
}

nav {
& button{
  background-color: transparentize($plain-black, 1);
  text-shadow: none !important;
  border:3px solid $background-color !important;
  box-shadow:none !important;
  background-color: $button-color;
  color:$blue-grey;
  }
}

#welcome-page {
  background-image: url('https://static.pexels.com/photos/6805/fashion-men-vintage-colorful-large.jpg');
  // opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
  & #sign-up-button, #sign-in-button {
    background-color: transparentize(red, 1);
    text-shadow: none !important;
    border:3px solid $plain-white !important;
    box-shadow:none !important;
    background-color: $plain-white;
    color:$blue-grey;
  }
}

#side-tabs {
    & ul li {
      // border: 3px solid green;
      & button {
        background-color: transparentize($plain-black, 1);
        text-shadow: none !important;
        border:3px solid $plain-black !important;
        box-shadow:none !important;
        background-color: $plain-black;
        color:$plain-white;
      }
    }
  }

#build-outfit, #show-all {
  border: 7px solid $plain-black;
}

.delete-item {
  background-color: transparentize($pale-purple, 1);
  text-shadow: none !important;
  border:3px solid $pale-purple !important;
  box-shadow:none !important;
  background-color: $pale-purple;
  color:$plain-black;
}

  #display-outfits {
    border: 7px solid $plain-black;
    & .outfit {
      border: 2px solid $pale-purple;
      & .delete-outfit-button {
        background-color: transparentize($plain-black, 1);
        text-shadow: none !important;
        border:none !important;
        box-shadow:none !important;
        background-color: $blue-grey;
        color:$plain-white;
      }
    }
  }

  #display-feed {
    border: 7px solid $plain-black;
    & .outfit {
      border: 2px solid $pale-purple;
      & .like-outfit-button {
        background-color: transparentize($plain-black, 1);
        text-shadow: none !important;
        border:none !important;
        box-shadow:none !important;
        background-color: $blue-grey;
        color:$plain-white;
      }
    }
  }


#display-weather {
  & .weather-day {
    border: 2px solid blue;
  }
}
