$cursive-font: 'Pacifico', cursive;

body {
  font-family: $cursive-font;
  font-size: 18px;
}

nav {
& button{
  font-size: 2em;
  }
}

h1 {
  font-size: 4em;
  font-family: $cursive-font;
}

h2 {
  font-size: 1.5em;
}

h4 {
  font-size: 3em;
}

#side-tabs {
    & ul{
    & li {
      & button {
        font-size: 1.25em;
      }
    }
  }
  }

  #show-all {
    & p {
      font-size: 36px;
    }
  }
