
h1{
  text-align: center;
}

nav {
& button{
  height: 16vw;
  }
}

#content {
  height: 800px;
}

#welcome-page {
  height: 100%;
  width: 100%;
  & .head-image img{
    width: 20%;
    margin-left: 40%;
  }
}


#side-tabs {
    & ul li {
      & button {
        width: 8em;
        height: 3em;
        text-align: left;
        margin-bottom: 2em;
      }
    }
  }

  #show-all{
    width: 30%;
    border: 2px solid green;
    & img {
      width: 100%;
    }
  }

  #build-outfit {
    width: 20%;
    border: 2px solid red;
  }
