
h1{
  text-align: center;
}

h4 {
  text-align: center;
  position: relative;
  top:30%;
}

// body {
//   margin-top: -20px;
// }
nav {
  margin-left: auto;
  margin-right: auto;
& button{
  height: 16vw;
  }
}

header {
  margin-bottom: 0;
}
#content {
  height: 1000px;
}

#welcome-page {
  height: 100%;
  width: 100%;
  // & .head-image img{
  //   width: 20%;
  //   margin-left: 40%;
  // }
  & #sign-up-button, #sign-in-button {
    width: 8em;
    height: 4em;
    position: relative;
    left: 40%;
    margin-top: 30%;
  }
}


#side-tabs {
    & ul {
      width: 15%;
      float: left;
      margin-left: -2.5%;
    & li {
      & button {
        width: 100%;
        height: 3em;
        text-align: left;
        margin-bottom: 2em;
      }
    }
  }
  }

#create-new {
  text-align: center;
  & button {
    display: inline;
    width: 24%;
  }
}

  #show-all {
    text-align: center;
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
    height: 650px;
    float: left;
    overflow-y: scroll;
    & p {
      margin-top: 150px;
    }
    & button {
      width: 100%;
      & .delete-item {
        width:50%;
      }
      & img{
        width: 80%;
        margin: 0 auto;
        display:block;
      }
    }
  }

.delete-item {
  width:50%;
}

  #outfit-top, #outfit-bottom {
    width: 45%;
    margin: 2% 2% 4% 0;
    height: 250px;
    float: left;
  }

  #outfit-shoes, #outfit-accessory{
    width: 45%;
    height: 200px;
    margin: 6% 2% 2% 0;
    float: left;
  }


  #build-outfit {
    width: 30%;
    float: left;
    height: 650px;
    // overflow: scroll;
    & img {
      width:100%;
      margin-left: auto;
      margin-right: auto;
    }
    & form {
      text-align: center;
    }
  }


  #display-outfits {
    height: 800px;
    overflow: scroll;
    & .outfit {
      width: 30%;
      margin: 1% 1%;
      height: 600px;
      float: left;
      & img {
        width:50%;
      }
      & .delete-outfit-button {
        text-align: right;
        display: block;
      }
    }
  }

  #display-feed {
    height: 800px;
    overflow: scroll;
    & .outfit {
      width: 30%;
      margin: 1% 1%;
      height: 600px;
      float: left;
      & img {
        width:50%;
      }
      & .like-outfit-button, .dislike-outfit-button {
        width:50%;
        text-align: right;
        display: inline;
      }
    }
  }

  #display-weather {
    height: 700px;
    overflow: scroll;
    & .weather-day {
      text-align: center;
      height: 200px
    }
  }

  #sign-up input, #change-password input, #update-profile input, #sign-in input {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

#display-media {
  height:700px;
  & .ad {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 30%;
    & img {
      height: 100%;
    }
  }
}

  .ad {
    height: 200px
  }

.success-image {
  width: 40%;
  position:relative;
  left:30%;
}
